{% extends "base.html" %}

{% block title %}Senha alterada{% endblock %}

{% block content %}
<style>
  @media only screen and (max-width:575px){
    #password-change-done{
      margin-top: 10%;
    }
  }
</style>
<div class="mt-4">
  <div class="row justify-content-center">
    {% include 'icons/arrow-left.html' %}
    <div id="password-change-done" class="col-lg-6 col-md-8 col-sm-10 text-center">
      <h1 class="gradient text-center">Senha alterada</h1>
      <p>Sua senha foi alterada com sucesso.</p>
    </div>
  </div>
</div>
{% endblock %}
