{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Redefinir sua senha{% endblock %}

{% block content %}
<style>
  body{
    font-family: 'Open Sans', sans-serif;
    background: #FDECC1;
  }
  #btn-reset-password{
    background-color: #D84012;
    color: #FEF2CB;
    font-weight: bold;
    border-radius: 4px !important; 
    transition: 0.6s;
  }
  #btn-reset-password:hover{
    background-color: #FC5D19;
    color: white;
  }
  
</style>
<div id="register-account" class="row p-3 d-flex justify-content-center align-items-center min-vh-100 text-white">
  <div class="col-lg-6 d-md-none d-sm-none d-lg-block left-box left-content">
    <div class="featured-image d-flex justify-content-center  mb-3">
      <img src="{% static 'img/abstract_572-removebg-preview.png' %}" class="img-fluid" style="width: 450px;">
    </div>
  </div>
  <div id="right-content" class="col-lg-6 col-md-12 col-sm-12 right-box bg-orange-500 p-5">
    <h1 class="fw-bolder">Esqueceu sua senha?</h1>
    <p class="fw-normal mb-1">Digite seu endereço de e-mail para obter uma nova senha.</p>
    <form method="post">
      {{ form|crispy }}
      <p><input class="btn w-100" id="btn-reset-password" type="submit" value="Enviar email"></p>
      {% csrf_token %}
    </form>
  </div>
</div>

{% endblock %}
