{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Mude sua senha{% endblock %}

{% block content %}
<style>
  .password-change-profile input{
    background-color: #e7e7e7fd;
    height: 35px;
    padding: 2px 8px;
  }
  #btn-password-change{
    text-align: center;
    color: white;
    border: #EC8E00 1px solid;
    padding: 5px 10px;
    border-radius: 6px;
    background-color: #EC8E00;
    text-decoration: none;
    width: 10vw;
  }
  #btn-password-change:hover{
    color: white;   
    background-color: #cc7e0a;
  }
  #password-change-area{
    padding: 0 20px;
  }
  @media only screen and (max-width:575px){
    #password-change-area{
      margin-top: 10%;
      padding: 20px;
    }
    #btn-password-change{
      width: 100%;
    }
  }
</style>
<div class="password-change-profile mt-4">
  <div class="row justify-content-center">
    {% include 'icons/arrow-left.html' %}
    <div id="password-change-area" class="col-lg-6 col-md-8 col-sm-10">
      <div class="d-flex flex-column" style="margin: 0 auto;">
        <h2 class="fw-bolder">Mude sua senha</h2>
        <p class="fs-6 mb-1">Utilize o formulário abaixo para alterar sua senha.</p>
        <form method="post">
          {{ form|crispy }}
          <p><input id="btn-password-change" type="submit" value="Salvar"></p>
          {% csrf_token %}
        </form>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>

{% endblock %}
