{% extends "base.html" %}

{% block title %}Redefinir sua senha{% endblock %}

{% block content %}
<div class="mt-0">
  <div class="row ">
    {% include 'icons/arrow-left.html' %}
    <div id="password-change-done" class="col-lg-10 col-md-10 col-sm-10 text-center">
      <h1 class="gradient">Redefinir sua senha</h1>
      <p class="">Enviamos a você por e-mail instruções para definir sua senha.</p>
      <p>Se você não receber um e-mail, certifique-se de inserir o endereço com o qual se registrou.</p>
    </div>
  </div>
</div>
{% endblock %}
