body{
    font-family: 'Open Sans', sans-serif;
    background: #FDECC1;
}

#right-content{
    box-shadow: 8px 10px 15px #9b9a9a;
    z-index: 1;
}

* Inputs */
#id_username, #id_password {
    height: 40px;   
}

.remember-password {
    font-size: 14px !important;
    
}

.forget-password {
    text-decoration: none;
    color: #A95800;
    font-size: 14px !important;
}
.forget-password:hover{
    color: #A95800;
}

/* BUTTONS */
.btn-login{
    background-color: #D84012;
    color: #FEF2CB;
    font-weight: bold;
    border-radius: 4px !important; 
    transition: 0.6s;
}
.btn-login:hover{
    background-color: #FC5D19;
    color: white;
}
.btn-register {
    background-color: #D84012;
    color: #FEF2CB;
    font-weight: bold;
    border-radius: 4px !important; 
    transition: 0.6s;
}
.btn-register:hover {
    background-color: #FC5D19;
    color: white;
}

/* Social */
#social-access {
    font-size: 14px;
    text-align: center;
}
/* Extras */
#hint_id_username {
    visibility: hidden;
    height: 0;
}
/* Forms */
#id_username, 
#id_first_name,
#id_email,
#id_password,
#id_password2 {
    height: 35px;
}
#div_id_username,
#div_id_first_name,
#div_id_email,
#div_id_password {
    margin-bottom: 8px !important;
}

#div_id_password2 {
    margin-bottom: 26px !important;
}


@media only screen and (max-width:991px){
    #right-content{
        background-color: white;
        color: black;
    }
    /* Inputs */
    #id_username, #id_password {
        background-color: #e7e7e7fd;
        height: 40px;
    }
    /* BUTTONS */
    .btn-register {
        margin-top: 1.5em;
    }
    .btn-login{
        margin-top: 1.5em;
    }   
    .forget-password{
        color: #EC8E00;
    }
    #social-access {
        margin-top: 1em;
    }
}

@media only screen and (max-width:575px){
    body{
        background-color: white !important;
    }
    #login{
        background-color: white !important;
    }
    .left-content{
        visibility: hidden!important;
        width: 0;
    }
    #right-content{
        box-shadow: none;
        padding: 1.5em !important;
    }
    #id_username, #id_password{
        background-color: #e7e7e7fd;
        border-radius: ;
        height: 40px;
    }
}
