body{
    font-family: 'Open Sans', sans-serif;
    background: #FDECC1;
}

#hint_id_username{
    display: none;
}
/* Button */

#btn-register{
    background-color: #D84012;  
    margin-top: 10px;
    color: #FEF2CB;
    font-weight: bold;
    border-radius: 4px !important; 
    transition: 0.6s;
}

#btn-register:hover{
    background-color: #FC5D19;
    color: white;
}

#right-content p{
    font-size: 12px;
}

#div_id_username, 
#div_id_first_name,
#div_id_email,
#div_id_password,
#div_id_password2{
    margin-bottom: 6px !important;
}
.form-control{
    padding: 4px 8px;
}
#id_username_helptext{
    color: #e2e2e2;
}

@media only screen and (max-width:991px){
    #id_username, 
    #id_first_name,
    #id_email,
    #id_password,
    #id_password2 {
        height: 35px;
        background-color: #e7e7e7fd;
        border-radius: 5px;
    }
    #right-content{
        background-color: white;
        color: black;
    }

}
@media only screen and (max-width:575px){
    body{
        background-color: white !important;
    }
    #register-account{
        background-color: white !important; 
    }
    .left-content{
        visibility: hidden!important;
        width: 0;
    }
    #right-content{
        padding: 1em !important;
    }

}
